<mat-card>
  <mat-card-header>
    <mat-card-title>Pulse Point</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>Bem-vindo ao Pulse Point! Escolha uma opção para continuar:</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" routerLink="/login">Log In</button>
    <button mat-raised-button color="accent" routerLink="/signup">Sign Up</button>
    <button mat-raised-button color="warn" routerLink="/dashboard">Entrar no sistema</button>
  </mat-card-actions>
</mat-card>
