.app-toolbar {
  display: flex;
  align-items: center;
}

.logo-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  text-transform: none;
}

.logo {
  height: 32px;
}

.title {
  font-weight: bold;
  font-size: 18px;
}

.spacer {
  flex: 1 1 auto;
}
